{{#if controller.state.didAuth}}
  {{#if controller.state.loggedIn}}
    {{#if controller.showImport}}
      <button class='btn btn-small' {{action "importDropbox" target="view"}}><i class='icon-cloud-download'></i> Import notes from Dropbox</button>
    {{/if}}
    <button class='btn btn-small' {{action "exportDropbox" target="view"}}><i class='icon-cloud-upload'></i> Export notes to Dropbox</button>
  {{else}}
    <button class='btn btn-small' {{action "loginToDropbox" target="view"}}><i class='icon-cloud'></i> Sign in to Dropbox (BETA)</button>
  {{/if}}
{{/if}}
<button class='btn btn-small' {{action "showDropboxHelp" target="view"}}><i class='icon-question-sign'></i> Dropbox Help</button>

{{partial "modals/dropbox/dropbox_saving_modal"}}
{{partial "modals/dropbox/dropbox_help_modal"}}
